* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: whitesmoke;
  margin: 1.5rem;
  font-family: "Montserrat";
}
.bold {
  font-weight: 900;
  color: #7654e6aa;
  font-size: 1.5rem;
}
#heading {
  background: linear-gradient(
      to right,
      #e9e8f0df,
      rgba(194, 184, 209, 0.75) 50%
    ),
    url("images/blobs2.png");
  background-size: cover;
  padding-bottom: 5rem;
}
.shadow-wrap {
  filter: drop-shadow(-1px 6px 3px rgba(150, 150, 150, 0.3));
}
.nav {
  width: 100%;
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-logo {
  padding: 1.3rem 2rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  background-color: #430aded9;
  box-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  border-radius: 0 0 50% 50%;
  z-index: 99;
}
.nav-logo-letters {
  font-size: 1rem;
  color: #f8f0fb;
  /* font-family: "Bungee Shade", cursive; */
  font-family: "Merriweather", serif;
}
.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-item {
  list-style: none;
}
.nav-link {
  color: #211a1d;
  text-decoration: none;
  text-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  /* border-bottom: 2px solid #430aded9; */
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #430aded9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.top-section {
  display: flex;
  justify-content: space-evenly;
  padding: 6rem 0;
}
.top-description {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  animation: slideInRight 2s;
}
.main-header {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  color: #211a1d;
}

.bold-header {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #211a1d;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  padding-left: 3rem;
}
.normal-text {
  font-size: 1.15rem;
  line-height: 25px;
  color: #211a1d;
}
.icons-container {
  display: flex;
}
hr {
  color: #211a1d;
  margin-top: 1vh;
  width: 100%;
  box-shadow: 0 3px 10px rgb(200 200 200 /0.7);
}
.btn-solid {
  margin: 3vw 1.5vw 3vw 0;
  padding: 1rem 3.5rem;
  background-color: #430aded9;
  color: rgb(243, 243, 243);
  font-size: 1rem;
  font-weight: 100;
  border-radius: 30px;
  border: 0.5px inset #211a1d;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  font-family: "Manrope", sans-serif;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-transparent {
  margin: 3vw 1.5vw 3vw 0;
  padding: 1rem 3.5rem;
  /* background-color: #dbc9fe; */
  background-color: transparent;
  color: #211a1d;
  font-size: 1rem;
  font-weight: 100;
  border-radius: 30px;
  border: 1px solid #3f20ee90;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.btn-transparent:hover {
  border: 1px solid #6320ee;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  animation: grow 1s;
}
.btn-solid:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  animation: grow 1s;
}
.top-image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-container {
  border: 3px solid #6320ee;
  display: flex;
  height: 100%;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(70, 69, 69, 0.9);
  /* background-color: #6320ee; */
  background-color: #430aded9;
  border-radius: 50% 50% 50% 20%;
  animation: slideInLeft 2s;
}
.image-container > img {
  width: 90%;
  margin: -2rem -0.2rem 2rem 3rem;
  box-shadow: 0 3px 10px rgba(70, 69, 69, 0.9);
  border-radius: 50% 50% 50% 20%;
}
.multi-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

#about {
  background-size: cover;
  padding: 5rem 0 8rem 0;
  clip-path: polygon(0 0, 100% 15%, 100% 90%, 0% 100%);
  margin: 0 auto;
  max-width: 1200px;
}
.title-container {
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}
.header {
  font-size: 3rem;
  /* font-family: "Manrope", sans-serif; */
  font-family: "Montserrat";
  font-weight: 400;
  color: #211a1d;
  z-index: 2;
}
.header-style {
  position: absolute;
  background-color: #260adebc;
  margin: 0 0 0 1.5rem;
  top: 35px;
  left: 23px;
  width: 90%;
  height: 1.5rem;
  z-index: -1;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(165, 165, 165, 0.8);
}
.image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-container2 {
  display: flex;
  margin-right: 3rem;
  height: 100%;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(183, 181, 181, 0.9);
  border: 1px inset black;
  border-radius: 50%;
  animation: slideInLeft 2s;
}
.image-container2 > img {
  width: 100%;
  margin: -2rem -0.2rem 2rem 3rem;
  box-shadow: 0 3px 10px rgba(157, 157, 157, 0.9);
  border-radius: 50%;
}
.multi-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-info {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1.1rem;
  /* font-family: "Merriweather", "Georgia", serif; */
  font-weight: 400;
  line-height: 30px;
}
.sub-header {
  margin: 1rem 0 1rem 0;
}
.more-info {
  margin-top: 3rem;
  line-height: 30px;
}
.edu-sec > p {
  margin-bottom: 0.3rem;
}

#projects {
  margin-bottom: 2rem;
  background: linear-gradient(
      to right,
      #e9e8f0df,
      rgba(194, 184, 209, 0.75) 50%
    ),
    url("images/blobs2.png");
  padding: 0 0 2rem 0;
  box-shadow: 0 3px 10px rgb(200 200 200 / 0.8);
  background-size: contain;
}
.title-container2 {
  padding: 5rem 0 0 2rem;
}
.project {
  display: flex;
  margin: 2rem auto 10rem auto;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}
.project2 {
  display: flex;
  margin: 2rem auto 10rem auto;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.project-description {
  width: 50%;
}
.project-description2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}
.project-type {
  font-size: 1rem;
  font-weight: 300;
}

.project-name {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.technologies2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
}
.technologies2 > li {
  list-style: none;
  padding: 0.8rem;
  margin: 0.1rem;
  background-color: #211a1d;
  color: #dbc9fe;
  border-radius: 30px;
}
.technologies > li {
  list-style: none;
  padding: 0.8rem;
  margin: 0.1rem;
  background-color: #211a1d;
  color: #dbc9fe;
  border-radius: 30px;
}
.project-info {
  line-height: 25px;
  width: 90%;
  margin-top: 0.5rem;
}
.project-info2 {
  line-height: 25px;
  width: 90%;
  margin-top: 0.5rem;
  text-align: end;
}
.image-section {
  width: 45%;
}
.image-section > img {
  width: 100%;
  border-radius: 20px;
}
.left {
  margin: 0 0 1rem 0;
}
.right {
  float: right;
}

#skills {
  padding: 5rem 0;
  margin: 0 7rem 0 7rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 4rem auto 0 auto;
}
.skills-list > li {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #211a1d;
  color: #dbc9fe;
  border-radius: 30px;
}
.contact-container-title {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: #dbc9feb6;
}
.contact-container {
  background: linear-gradient(
      to right,
      #e9e8f0df,
      rgba(194, 184, 209, 0.75) 50%
    ),
    url("images/blobs2.png");
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  background-size: cover;
  /* padding: 5vw 0 0 0; */
  display: flex;
  flex-direction: column;
}
.contact-container-title > h2 {
  font-size: 3.5rem;
  /* font-family: "Bungee Shade", cursive; */
  margin: 0 auto;
  text-align: center;
  color: #211a1d;
}
.icons {
  cursor: default;
}
.icons-center {
  margin: 1vh auto;
}
.icons > a {
  font-size: 40px;
}

.icons > a > i {
  margin: 1vw;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;

  color: #3f20eeaa;
  font-size: 22px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
}
.icons2 > a > i {
  margin: 1vw;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;

  color: #7654e6aa;
  font-size: 22px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
}
a > i:hover {
  transform: scale(1.1);
}
.contact-container > form {
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  width: 100%;
}
.line {
  background: transparent;
  color: #211a1d;
  border: none;
  border-bottom: 1px groove #211a1d;
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  padding-right: 10rem;
  padding-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.message {
  background: transparent;
  border: 1px groove #211a1d;
  height: 10rem;
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  min-width: 310px;
  margin: 2rem auto;
  color: white;
}
.button-section {
  margin: 2vh auto;
}

.send-button:hover {
  box-shadow: 0 3px 10px rgb(100 100 100 / 0.8);
  transform: scale(1.05);
}

footer {
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(100 100 100 / 0.8);
  background-color: #211a1d;
}
footer > p {
  font-size: 13px;
  color: #dbc9fe;
  font-family: "Montserrat", sans-serif;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(120%);
  }
  70% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 980px) {
  .top-section {
    flex-direction: column-reverse;

    align-items: center;
  }
  .top-description {
    width: 80%;
  }
  .top-image {
    display: none;
  }
  .about-info {
    flex-direction: column;
    align-items: center;
  }
  .image {
    padding-bottom: 2rem;
    min-width: 320px;
  }
  .info {
    width: 80%;
    text-align: center;
  }
  .project {
    flex-direction: column;
    align-items: flex-start;
  }
  .project-description,
  .project-description2 {
    width: 80%;
  }
  .image-section {
    width: 80%;
    margin: 0 auto;
  }
  .project2 {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #skills {
    margin: 1rem 0;
  }
  .skills-list {
    width: 90%;
    margin: 1rem auto 0 auto;
  }
}
@media (max-width: 536px) {
  .nav {
    justify-content: space-between;
  }

  .top-description {
    width: 90%;
  }
  .multi-btn-container {
    width: 95%;
  }
  .btn-solid,
  .btn-transparent {
    font-size: 0.8rem;
    padding: 0.9rem 2.3rem;
    margin: 0.5rem 0;
  }
  #about {
    clip-path: none;
  }
  .bold-header {
    padding-left: 5px;
    font-size: 2rem;
  }
  .header-style {
    top: 24px;
    left: 5px;
    height: 1rem;
  }
  .image {
    width: 90%;
  }
  .info {
    width: 90%;
    font-size: 0.85rem;
  }
  .title-container2 {
    padding: 3rem 0 0 0.5rem;
  }
  .project {
    margin-bottom: 5rem;
  }
  .project2 {
    margin-bottom: 5rem;
  }
  .project-description,
  .project-description2 {
    width: 100%;
  }

  .technologies,
  .technologies2 {
    width: 100%;
  }
  .technologies > li,
  .technologies2 > li {
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 0.8rem;
    border-radius: 30px;
  }
  .image-section {
    margin: 2rem auto 0 auto;
    width: 90%;
  }
  #skills {
    padding: 1rem;
  }
  .skills-list > li {
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 0.8rem;
  }
  .contact-container,
  .contact-container-title {
    clip-path: none;
  }
  .contact-container {
    padding-top: 0;
    box-shadow: 0 3px 10px rgb(100 100 100 / 0.8);
  }
  .contact-container-title {
    padding: 2rem 0;
  }
  .contact-container-title > h2 {
    font-size: 2rem;
  }
}
