* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
  /* box-shadow: 0 3px 10px rgb(200 200 200 /0.9); */
  /* width: 96.2%; */
  margin: 1.5rem;
  font-family: "Montserrat";
}
.bold {
  font-weight: 900;
  color: #6320ee;
  font-size: 1.1rem;
}
#heading {
  background: linear-gradient(
    100deg,
    #e9e8f0 100%,
    rgba(100, 100, 100, 0.25340073529411764) 35%,
    rgba(200, 200, 200, 0.3702074579831933) 0%
  );
  /* width: 100%; */
  /* margin: 0 auto; */
  clip-path: polygon(
    0 0,
    /* left top */ 100% 0,
    /* right top */ 100% 100%,
    /* right bottom */ 0 85% /* left bottom */
  );
  padding-bottom: 5rem;
}
.nav {
  width: 100%;
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-logo {
  padding: 1rem 2rem;
  width: 8.5rem;
  display: flex;
  justify-content: center;
  background-color: #6320ee;
  box-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  border-radius: 0 0 50% 50%;
}
.nav-logo-letters {
  font-size: 2rem;
  color: #f8f0fb;
  font-family: "Bungee Shade", cursive;
}
.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-item {
  list-style: none;
}
.nav-link {
  color: #211a1d;
  text-decoration: none;
  text-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  border-bottom: 2px solid #6320ee;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.nav-link:hover {
  background-color: #6320ee;
  /* background: linear-gradient(189deg, #dbc9fe00 20%, #6320ee 80%); */
  border-radius: 20px;
  color: #e9e8f0;
}
.top-section {
  display: flex;
  justify-content: space-evenly;
  padding: 6rem 0;
}
.top-description {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  animation: slideInRight 2s;
}
.bold-header {
  font-family: "Bungee Shade", cursive;
  font-size: 3.5rem;
  color: #211a1d;
}
.normal-text {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: #211a1d;
}
hr {
  color: #211a1d;
  margin-top: 4vh;
  width: 100%;
  box-shadow: 0 3px 10px rgb(200 200 200 /0.7);
}
.btn-solid {
  margin: 3vw 1.5vw 3vw 0;
  padding: 0.6rem 2rem;
  background-color: #6320ee;
  color: rgb(243, 243, 243);
  font-size: 1rem;
  font-weight: 100;
  border-radius: 20px;
  border: 0.5px inset #211a1d;
  /* border: none; */
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  font-family: "Manrope", sans-serif;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-transparent {
  margin: 3vw 1.5vw 3vw 0;
  padding: 0.6rem 2rem;
  background-color: #dbc9fe;
  color: #211a1d;
  font-size: 1rem;
  font-weight: 100;
  border-radius: 20px;
  border: 1px solid #dbc9fe;
  /* border: none; */
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.btn-transparent:hover {
  border: 1px solid #6320ee;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  animation: grow 1s;
}
.btn-solid:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 10px rgb(180 180 180 /0.9);
  animation: grow 1s;
}

.top-image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-container {
  /* width: 100vw; */
  border: 3px solid #6320ee;
  display: flex;
  height: 100%;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  background-color: #6320ee;
  border-radius: 50% 50% 50% 20%;
  animation: slideInLeft 2s;
}
.image-container > img {
  width: 90%;
  margin: -2rem -0.2rem 2rem 3rem;
  /* overflow: hidden; */
  box-shadow: 0 3px 10px rgb(200 200 200 /0.9);
  border-radius: 50% 50% 50% 20%;
}
.multi-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* .arrow {
  height: 5rem;
  width: 5rem;
  border-style: solid;
  border-color: #211a1d;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  box-shadow: 0 3px 0px rgb(200 200 200 /0.6);
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
} */

#about {
  padding: 5rem 0 7rem 0;
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
}
.header-style {
  position: absolute;
  padding: 2rem 2rem;
  background-color: #dbc9fe;
  margin: 0 0 0 1.5rem;
  border-radius: 50% 50% 50% 20%;
  width: 6rem;
  height: 6rem;
  z-index: -1;
  border: none;
}
.title-container {
  /* display: flex; */
  /* margin-bottom: 3rem; */
}
/* .color {
  padding: 0.2rem 1.8rem;
} */
.header {
  padding: 1rem 1rem 0 3rem;
  /* width: 70vw; */
  font-size: 3rem;
  /* font-family: "Manrope", sans-serif; */
  font-family: "Montserrat";
  font-weight: 400;
  color: #211a1d;
  z-index: 2;
  /* margin: 0 0 0 10rem; */
  /* border-bottom: 20px solid #6320ee; */
}
.about-info {
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
}
.about-info > p {
  width: 60%;
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
}
.image-container2 {
  width: 30%;
}
.image-container2 > img {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.sub-header {
  margin: 1rem 0 1rem 0;
}
.more-info {
  margin-top: 3rem;
}
.edu-sec > p {
  margin-bottom: 0.3rem;
}

#projects {
  background: linear-gradient(
    100deg,
    #e9e8f0 100%,
    rgba(100, 100, 100, 0.25340073529411764) 35%,
    rgba(200, 200, 200, 0.3702074579831933) 0%
  );
  height: 90vh;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
}
.title-container2 {
  padding: 10rem 0 0 2rem;
}

#skills {
  padding: 4rem 0 2rem 0;
  height: 70vh;
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 4rem auto 0 auto;
}
.skills-list > li {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #211a1d;
  color: #dbc9fe;
  border-radius: 30px;
}
.contact-container-title {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: #211a1d;
  box-shadow: 0 3px 10px rgba(17, 17, 17, 0.8);
}
.contact-container {
  background: linear-gradient(#e9e8f0df, rgba(200, 200, 200, 0.75) 90%),
    url("images/blob-drop.jpg");
  /* background: linear-gradient(
      to top,
      rgba(200, 200, 200, 0.72),
      rgba(200, 200, 200, 0.98) 90%
    ),
    url("images/city.jpg"); */
  background-size: cover;
  padding: 5vw 0 0 0;
  display: flex;
  flex-direction: column;
}
.contact-container-title > h2 {
  font-size: 3.5rem;
  font-family: "Bungee Shade", cursive;
  margin: 0 auto;
  text-align: center;
  color: #dbc9fe;
}
.icons {
  margin: 1vh auto;
  cursor: default;
}
.icons > a {
  font-size: 40px;
}
#credit {
  display: flex;
  justify-content: center;
  align-items: center;
}

a > i {
  margin: 1vw;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
  color: #dbc9fe;
  font-size: 22px;
}
a > i:hover {
  transform: scale(1.1);
}
.contact-container > form {
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  width: 100%;
}
.line {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px groove #211a1d;
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  padding-right: 10rem;
  padding-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.message {
  background: transparent;
  border: 1px groove #211a1d;
  height: 10rem;
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  min-width: 310px;
  margin: 2rem auto;
  color: white;
}
.button-section {
  margin: 2vh auto;
}

.send-button:hover {
  box-shadow: 0 3px 10px rgb(100 100 100 / 0.8);
  transform: scale(1.05);
}
a > i {
  margin: 1vw;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease;
  color: #6320ee;
  font-size: 22px;
}
a > i:hover {
  transform: scale(1.1);
}
footer {
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(100 100 100 / 0.8);
  background-color: #211a1d;
}
footer > p {
  font-size: 13px;
  color: #dbc9fe;
  font-family: "Montserrat", sans-serif;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(120%);
  }
  70% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-120%);
  }
  70% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
